<footer>
  <a href="https://creativecommons.org/licenses/by-nc/3.0/deed.en_US">
    <span>
        <b>{{ site.owner}}</b>
    </span>
    {% capture currentyear %}{{ 'now' | date: "%Y" }}{% endcapture %}
    <span>© {{ currentyear }}</span>
  </a>
  <break >
  <a href="https://itrk.legal/uAj.8V.pqL.html?imp=1">
    <span>
        <b>Impressum</b>
    </span>
  </a>
  <span>
    <b> | </b>
  </span>
  </a>
  <a href="https://itrk.legal/uAj.8V.pqL.html">
  <span>
      <b>Datenschutz</b>
  </span>
</a>
</footer>